*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

/* .header{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
} */
/* aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
  }
  aside > nav {
    margin: 0.5rem;
  } */
nav{
    
    width: 13%;
    height: 100%;
    background-color: rgb(70, 154, 124);
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 40px;

}

.logo{
    font-family:sans-serif;
    font-weight:bold;
    font-size: 28px;
    margin-bottom: 159px;
}
.nav-links{
    list-style: none;
    position: relative;
}
.nav-links li {
    font-size: 19px;
    padding: 10px 0;
}
.nav-links li a{
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    color: black;
    padding: 10px 12px;
    text-align: center;
}

.nav-links li:hover{
    background-color: azure;
    border-radius: 8px;
    text-align: center;
}

.contant-1{
    width: 80%;
    height: 1051px;
    margin: 22px;
    padding: 30px;
    /* border: 3px solid; */
    position: absolute;
    right: 0;
    top: 0;

}

/* dashboard */
.dashboard ul {
    list-style: none;
    background-color: rgb(245, 237, 134);
    position: fixed;
    bottom: 15px;
    right: 20px;
}
.dashboard ul li, a{
    text-decoration: none;
    margin: 8px;
    padding: 5px;


}
