*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo-up-nav{
    text-align: center;
}

.logo-up-nav img{
    width: 10%;
    
}
.content{
    margin: 50px 30% ;
    /* text-align: center; */
    /* width: 25%; */
    padding: 30px;
    height: 1000px;
}

/* NAV STARTS HERE */

.nav-bar{
    position: sticky;
    top:0;
    text-align: center;
    background-color:rgb(240, 240, 240);
    margin-bottom: 50px;
    padding: 17px;
}
.nav-bar ul li {
    display: inline;
    color: black;
    font-family:cursive, sans-serif;
    font-size: 19px;
    margin: 2px 10px;
    padding: 5px 3px;
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
    margin: 2px 10px;
    padding: 5px 3px;
}
.nav-bar ul li:hover{
    background: white;
    border-radius: 7px;
}

/* submenu-1 */

.submenu-1{
    display: none;
    /* border: 2px solid; */
}
.nav-bar ul li:hover  .submenu-1 { 
    display: block;
    position: absolute;
    border-radius: 7px;
    background-color:rgb(198, 209, 215);
    margin-top: 5px;
    margin-left: 35%;
    
}
.nav-bar ul li :hover .submenu-1 ul {
    display: block;
    margin: 5px;
}
.submenu-1 ul li {
    display: block;
    border-bottom: 2px  dotted rgb(0, 0, 0);
}
.submenu-1 ul li:last-child {
    border-bottom: none;
}
#life-ins{
    margin-left: 48%;
}


/* dashboard */
.dashboard ul {
    list-style: none;
    background-color: rgb(245, 237, 134);
    position: fixed;
    bottom: 15px;
    right: 20px;
}
.dashboard ul li, a{
    text-decoration: none;
    margin: 8px;
    padding: 5px;


}
